.u-line-title {
    position: relative;
    color: #D8E3E7;
    &::after {
        content: "";
        position: absolute;
        border-top: 1px solid #D8E3E7;
        top: 50%;
        right: 0;
        width: 80%;

        @media only screen and(max-width: 425px){
            width: 60%;
        }
    }
}
